// css home
.home {
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  &__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__card {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0.5rem;
  }
  &__title {
    color: $--color-secon;
    font-size: $--h1-font-size;
    font-weight: 600;
    margin-bottom: 5px;
  }
  &__des {
    font-size: 2.1rem;
    line-height: 3rem;
    margin-top: 1rem;
    margin-top: 2rem;
  }
  .btn__home {
    background-color: $--color-button;
    color: $--color-white;
    margin: 2rem 0; 
  }
  
  &__img {
    width: 60%;
  }
}
// css find a doctor
.find {
  
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 3.5rem;
    margin: 3rem 0;
  }
  &__card {
    width: auto;
    height: 35rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 1.5rem;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
  }
  &__img {
    width: 8.5rem;
    height: 9.5rem;
  }
  &__title {
    font-size: $--h3-font-size;
    font-weight: 500;
    line-height: 3rem;
    margin: 3rem 0;
    color: $--color-secon;
  }
  &__des {
    font-size: 1.8rem;
  }
  &__btn{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

// css app
.app{
    &__content{
        width: 100%;
        padding: 6rem 0;
        box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
        border-radius: 20px;
    }
    &__container{
        display: flex;
        margin: 5rem 0;
    }
    &__container-two{
        flex-direction: row-reverse;
    }
    &__img{
        width: 60%;
        
    }
    &__card{
        padding-left: 1.8rem;
        width: 40%;
        margin-bottom: 2rem;
    }
    &__title{
        text-align: left;
        &::after{
            left: 0;
            transform: translateX(0px);
        }
    }
    &__des{
        padding-top: 1rem ;
        text-align: left;
    }
    &__btn{
      &:hover{
        color: white;
        background-color: $--color-button;
        cursor: pointer;
      }
    }
}

// silebar

.silebar{
  &__title{
      display: block;
      color: $--color-white;
      margin-bottom: 4rem;
      position: relative;
      
      &::after{
          background-color: $--color-white !important;
      }
  }
  &__container{
      background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
      border-radius: 24px;
      color: $--color-white;
      height: 42.1rem;
      padding: 7.5rem 11.7rem;
  }
  &__content{
      display: flex;
      align-items: center;
      column-gap: 110px;
      font-size: 1.8rem;
  }
  &__user{
      display: flex;
      align-items: center;
  }
  &__img-user{
      border-radius: 50%;
      margin-right: 1.5rem;
  }
}

// css about
.about{
  &__container{
      width: 100%;
  }
  &__list{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 10rem
  }
  &__card{
    width: 35rem;
    height: 51.2rem;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
  }
  &__img{
    border-radius: 20px 20px 0 0;
  }
  &__content{
    margin-top: .8rem;
    margin-bottom: 3.5rem;
    height: calc(51.2rem - 24rem);
    display: flex;
    flex-direction: column;
    padding: 0 3.3rem 5.1rem;
  }
  &__subtitle{
    color: $--color-secon;
    font-size: 21px;
    line-height: 3.2rem;
    font-weight: $--font-semi-bold;
  }
  &__des{
    margin: 2rem 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
  }
  &__link,&__arrow{
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    color: $--color-button;
  }
  &__btn{
    position: relative;
    left: 50%;
    margin-top: 2rem;
    transform: translateX(-50%);
    &:hover{
      color: white;
      background-color: $--color-button;
      cursor: pointer;
    }
  }
}



.btn__home:hover{
  color: $--color-button;
  background-color: $--color-white;
}
.find__btn:hover{
  color: white;
  background-color: $--color-button;
  cursor: pointer;
}






















